<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Inchoo_Sample06::hello_world"
             title="Hello World"
             translate="title"
             module="Inchoo_Sample06"
             sortOrder="60"
             parent="Magento_Backend::content_elements"
             action="sample06/index/index"
             resource="Inchoo_Sample06::hello_world"/>
    </menu>
</config>
