<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Inchoo\Sample05\Api\Data\EventSearchResultInterface" type="Inchoo\Sample05\Model\EventSearchResult"/>
    <preference for="Inchoo\Sample05\Api\EventRepositoryInterface" type="Inchoo\Sample05\Model\EventRepository"/>
</config>
